<!-- templates/registration/signup.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 50em;
    }
</style>
<div class="form-container">
    <form method="post">{% csrf_token %}
        <h2>Log In</h2>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Log In</button>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </form>
</div>
{% endblock content %}