<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock title %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 50em;
    }
</style>
<div class="form-container">
    <form method="POST">{% csrf_token %}
        <h1>Forgot your password?</h1>
        <p>Enter your email address below, and we'll email instructions
            for setting a new one.</p>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Send me instructions!</button>
    </form>
</div>
{% endblock content %}