<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock title %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 50em;
    }
</style>
<div class="form-container">
    <form method="POST">{% csrf_token %}
        <h1>Set a new password</h1>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Change my password</button>
    </form>
</div>
{% endblock content %}