<!-- templates/registration/password_change_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 50em;
    }
</style>
<div class="form-container">
    <form method="POST">{% csrf_token %}
        <h1>Password change</h1>
        <p>Please enter your old password, for security's sake, and then enter
            your new password twice so we can verify you typed it in correctly.</p>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Change my password</button>
    </form>
</div>
{% endblock content %}