<!-- templates/registration/signup.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    input {
        max-width: 50em;
    }
</style>
<div class="form-container">
    <form method="post">{% csrf_token %}
        <h2>Sign Up</h2>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
</div>
{% endblock content %}