{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 40em;
    }
</style>
<div class="form-container">
    <form method="post">
        <h1>Add a new Transaction</h1>
        {% csrf_token %}
        <style type="text/css">
            #id_amount_1 {
                display: none;
            }
        </style>

        {{ form|crispy }}

        <button class="btn btn-success" type="submit">Add Expense</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Disable the category select initially
        $('#id_category').prop('disabled', true);

        $('#id_budget').change(function () {
            var budgetId = $(this).val();

            // Fetch categories based on the selected budget
            if (budgetId) {
                $.ajax({
                    url: '/get_categories/',
                    data: {
                        'budget_id': budgetId
                    },
                    success: function (data) {
                        // Enable the category select
                        $('#id_category').prop('disabled', false);

                        // Clear previous options
                        $('#id_category').empty();

                        // Add new options
                        $.each(data, function (key, value) {
                            $('#id_category').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            } else {
                // If no budget is selected, clear and disable the category select
                $('#id_category').empty().prop('disabled', true);
            }
        });
    });
</script>
{% endblock content %}