{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 40em;
    }
</style>
<div class="form-container">
    <form method="post">{% csrf_token %}
        <h1>Are you sure you want to delete "{{ object.name }}"?</h1>
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Confirm</button>
    </form>
</div>
{% endblock content %}