{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 40em;
    }

    .flex-container {
        display: flex;
    }
</style>

<div class="flex-container">
    <div class="containerBudget">
        <div class="dropdown float-right dropdown-container">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Budget Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'budget' budget.pk %}">View Budget</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'set_income' income.pk %}">Set Income</a>
                <a class="dropdown-item" href="{% url 'budget_edit' budget.pk %}">Edit Budget Name</a>
                <a class="dropdown-item" href="{% url 'budget_delete' budget.pk %}">Delete Budget</a>
                <a class="dropdown-item" href="{% url 'budget_transactions' budget.pk %}">View Transactions</a>
            </div>
        </div>
        <h2>{{ object.name }}</h2>
        <hr class="rounded">
        </br>

        {% if over_budgeted %}
        <div class="warning-box">Your planned budget is {{ over_budgeted }} over your income</div>
        <hr class="solid">
        {% endif %}

        {% if under_budgeted %}
        <div class="success-box">Your planned budget is {{ under_budgeted }} under your income</div>
        <hr class="solid">
        {% endif %}

        {% if at_budget %}
        <div class="success-box">Congratulations, Your planned budget perfectly matches your income</div>
        <hr class="solid">
        {% endif %}


        {% if income %}
        <div class="container-amount">
            <h4>Monthly Income:</h4>
            <div class="item-container-amount">
                <h4>{{ income.monthly_income }}</h4>
            </div>
        </div>

        {% else %}
        <p>No income data available.</p>
        {% endif %}
        <hr class="solid">

        <div class="container-amount">
            <h4>Total Spent:</h4>
            <div class="item-container-amount">
                <h4>{{ total_spent }}</h4>
            </div>
        </div>
        <hr class="solid">

        {% for category in categories %}
        <div class="container-amount">
            <h4>Category:</h4>
            <div class="item-container-amount">
                <h4>{{ category.name }}</h4>
            </div>
        </div>
        <div class="container-amount">
            <h6>Amount Budgeted:</h6>
            <div class="item-container-amount">
                <h6>{{ category.amount_budgeted }}</h6>
            </div>
        </div>
        <div class="container-amount">
            <h6>Amount Spent:</h6>
            <div class="item-container-amount">
                <h6>{{ category.amount_spent }}</h6>
            </div>
        </div>
        <a href="{% url 'category_detail' category.pk %}" class="btn btn-success btn-sm"
            style="color:inherit; padding-left: 10px; padding-right: 10px;">View Details</a>
        <hr class="solid">
        {% endfor %}
        <hr class="rounded">

        <a href="{% url 'budget_transactions' budget.pk %}" class="btn btn-success btn-sm"
            style="color:inherit; padding-left: 10px; padding-right: 10px;">Transactions</a>
        </br>
        <form action="" method="post">{% csrf_token %}
            <style type="text/css">
                #id_amount_budgeted_1 {
                    display: none;
                }
            </style>
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Add Category</button>
        </form>
    </div>
    <div class="containerBudgetGraph" data-monthly-income="{{ income.monthly_income.amount }}"
        data-total-spent="{{ total_spent.amount }}">
        <div>
            <canvas id="myDoughnutChart" width="400" height="400"></canvas>
        </div>
        <script>
            // Get the context of the canvas element we want to select
            var ctx = document.getElementById('myDoughnutChart').getContext('2d');

            // Get the containerBudget div
            var containerBudget = document.querySelector('.containerBudgetGraph');

            //console.log(containerBudget.dataset.monthlyIncome);
            //console.log(containerBudget.dataset.totalSpent);
            //var monthlyIncome = parseFloat(containerBudget.dataset.monthlyIncome);
            //var totalSpent = parseFloat(containerBudget.dataset.totalSpent);
            var monthlyIncome = containerBudget.dataset.monthlyIncome;
            var totalSpent = containerBudget.dataset.totalSpent;
            // Create the doughnut chart
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Monthly Income', 'Total Spent'],
                    datasets: [{
                        data: [monthlyIncome, totalSpent],
                        backgroundColor: ['white', 'green'],
                        borderWidth: 2,
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        </script>
    </div>
</div>
{% endblock content %}