{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input {
        max-width: 40em;
    }
</style>
<div class="form-container">
    <form method="post">{% csrf_token %}
        <h1>Set Your Monthly Income</h1>
        {{ form|crispy }}
        <style type="text/css">
            #id_monthly_income_1 {
                display: none;
            }
        </style>
        <button class="btn btn-success" type="submit">Set</button>
    </form>
</div>
{% endblock content %}