{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main>
  <h1 class="indented-heading">{{ user.username }}'s Budgets</h1>
  {% for budget in budget_list %}
  <div class="containerBudget">
    <div class="dropdown float-right dropdown-container">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Budget Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'budget' budget.pk %}">View Budget</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'budget_edit' budget.pk %}">Edit Budget Name</a>
        <a class="dropdown-item" href="{% url 'budget_delete' budget.pk %}">Delete Budget</a>
        <a class="dropdown-item" href="{% url 'budget_transactions' budget.pk %}">View Transactions</a>
      </div>
    </div>
    <h2>{{ budget.name }}</h2>
    <hr class="rounded">
    {% if budget.income %}
    <div class="container-amount">
      <h4>Monthly Income:</h4>
      <div class="item-container-amount">
        <h4>{{ budget.income.monthly_income }}</h4>
      </div>
    </div>
    {% else %}
    <p>No income data available.</p>
    {% endif %}
    <hr class="solid">

    <div class="container-amount">
      <h4>Total Spent:</h4>
      <div class="item-container-amount">
        <h4>{{ budget.total }}</h4>
      </div>
    </div>
    <hr class="solid">

    {% for category in budget.categories %}
    <div class="container-amount">
      <h4>Category:</h4>
      <div class="item-container-amount">
        <h4>{{ category.name }}</h4>
      </div>
    </div>
    <div class="container-amount">
      <h6>Amount Budgeted:</h6>
      <div class="item-container-amount">
        <h6>{{ category.amount_budgeted }}</h6>
      </div>
    </div>
    <div class="container-amount">
      <h6>Amount Spent:</h6>
      <div class="item-container-amount">
        <h6>{{ category.amount_spent}}</h6>
      </div>
    </div>
    <hr class="solid">
    {% endfor %}
  </div>
  {% endfor %}
  <a href="{% url 'add_budget' %}" style="color:inherit; text-decoration: none;"><button
      class="btn btn-success bottom-left-button btn-large" type="submit">
      Add Budget
    </button></a>

</main>
{% endblock content %}