{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main>
  <h1 class="indented-heading">{{ user.username }}'s Budgets</h1>
  {% for budget in budget_list %}
  <div class="containerBudget">
    <div class="dropdown float-right dropdown-container">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Budget Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'budget' budget.pk %}">View Budget</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'budget_edit' budget.pk %}">Edit Budget Name</a>
        <a class="dropdown-item" href="{% url 'budget_delete' budget.pk %}">Delete Budget</a>
        <a class="dropdown-item" href="{% url 'budget_transactions' budget.pk %}">View Transactions</a>
      </div>
    </div>
    <h2>{{ budget.name }}</h2>
    {% if budget.income %}
    <h4>Monthly Income: {{ budget.income.monthly_income }}</h4>
    {% else %}
    <p>No income data available.</p>
    {% endif %}
    {% for category in budget.categories %}
    <h5>Category: {{ category.name }}</h5>
    <p>Amount Budgeted: {{ category.amount_budgeted }}</p>
    <p>Amount Spent: {{ category.amount_spent}}</p>
    <hr class="solid">
    {% endfor %}
    <h4>Total Spent: {{ budget.total }}</h4>
  </div>
  {% endfor %}
  <button class="btn btn-success bottom-left-button btn-large" type="submit">
    <a href="{% url 'add_budget' %}" style="color:inherit; text-decoration: none;">Add Budget</a>
  </button>

</main>
{% endblock content %}